html{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    color: white;
    font-family: "Libre Baskerville , serif ";
    text-align: center;
}

.img_src{
    border: 5px solid white;
    width: 250px;
    height: 250px;
}






